=render "layouts/tab"
=form_for :a, :url => {:action => :create} do |t|
  .center
    =t.label "Час після народження"
    =t.select :afterbir, [["1 хв",1],["5 хв",5],["10 хв",10]]
    %br
    =t.label "Серцебиття"
    =t.select :sercebitia, [[0,0],[1,1],[2,2]]
    %br
    =t.label "Дихання СС"
    =t.select :duhania, [[0,0],[1,1],[2,2]]
    %br
    =t.label "Колір шкіри СС"
    =t.select :colorshkiru, [[0,0],[1,1],[2,2]]
    %br
    =t.label "Тонус мязів СС"
    =t.select :tonysmiaziv, [[0,0],[1,1],[2,2]]
    %br
    =t.label "Рефлекси"
    =t.select :reflexy, [[0,0],[1,1],[2,2]]
    %br

    =t.submit "Create"