=form_for :blood, :url => {action: :update}, method: :put do |b|
  .center
    =b.label "Номер історії новонародженого"
    =b.number_field :history_id
    %br
    =b.label "Дата народження"
    =b.datetime_select :born, prompt: true
    %br
    =b.label "Фамілія"
    =b.text_field :surname
    %br
    =b.label "Імя"
    =b.text_field :fname
    %br
    =b.label "По-батькові"
    =b.text_field :sname
    %br
    =b.submit "Update"