<ul class="out">
	<li>hello</li>
	<li>hi</li>
</ul>

<div id="d1">
  <ol id="ol1">
    <li id="li1">1</li>
    <li id="li2">2</li>
  </ol>
</div>


<a href="#" data-background-color="#990000">Paint it red</a>