=render "layouts/tab"
=form_for :wi, :url => {:action => :create} do |t|
  .center
    =t.label "Вік"
    =t.number_field :age
    %br
    =t.label "Поступила"
    =t.date_field :input
    %br
    =t.label "Виписана"
    =t.date_field :output, prompt: true
    %br
    =t.label "Ліжко днів"
    =t.number_field :bed
    %br
    =t.label "Ким направлена"
    =t.text_field :directed
    %br
    =t.label "Місце проживання"
    =t.text_field :home_adress
    %br
    =t.label "Телефон мобільний (+38-067-1234567)"
    =t.telephone_field :tel, pattern: "+[0-9]{2}-[0-9]{3}-[0-9]{7}"
    %br
    =t.label "Інвалід"
    =t.radio_button :invalidity, true
    %span Так
    =t.radio_button :invalidity, false
    %span Ні
    %br
    =t.submit "Create"