=render "layouts/tab"
=form_for @blood, :url => {:action => :create} do |b|
  .center
    =b.label "Група крові"
    =b.number_field :number
    %br
    =b.label "Гемоглобін"
    =b.text_field :gemo
    %br
    =b.label "Резус - приналежність"
    =b.radio_button :plusminus, true
    %span +
    =b.radio_button :plusminus, false
    %span -
    %br
    =b.label "Титр антитіл"
    =b.number_field :tutr
    %br
    =b.label "Алергічні реакції"
    =b.text_field :alegreac
    %br
    =b.label "RW 1"
    =b.datetime_select :rw11, prompt: true
    %br
    =b.label " "
    =b.radio_button :rw12, true
    %span +
    =b.radio_button :rw12, false
    %span -
    %br
    =b.label "RW 2"
    =b.datetime_select :rw21, prompt: true
    %br
    =b.label " "
    =b.radio_button :rw22, true
    %span +
    =b.radio_button :rw22, false
    %span -
    %br
    =b.label "Результат дослідження на гонорею"
    =b.datetime_select :gonorea1, prompt: true
    %br
    =b.label " "
    =b.radio_button :gonorea2, true
    %span +
    =b.radio_button :gonorea2, false
    %span -
    %br
    =b.submit "Save"