// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// the compiled file.
//
// WARNING: THE FIRST BLANK LINE MARKS THE END OF WHAT'S TO BE PROCESSED, ANY BLANK LINE SHOULD
// GO AFTER THE REQUIRES BELOW.
//
//= require jquery
//= require jquery_ujs
//= require_tree .
//$(document).ready();

function remove_fields(elem) {
    $(elem).prev("input[type=hidden]").val("1");
    $(elem).parents(".fields").hide();
}
/*lic = 2;
function add_field(elem, cc) {
    lic++;
    $(elem).parents(".pid").append("" +
    "<p class='fields'>" +
      "<input id='oglad_diagnozs_attributes_"+lic+"_tohosp' name='oglad[diagnozs_attributes]["+lic+"][tohosp]' size='30' type='text'>" +
      "<input id='oglad_diagnozs_attributes_"+lic+"__destroy' name='oglad[diagnozs_attributes]["+lic+"][_destroy]' type='hidden' value='false'>" +
      "<input id='oglad_diagnozs_attributes_"+lic+"_tofin' name='oglad[diagnozs_attributes]["+lic+"][tofin]' type='hidden' value='" + cc + "'> "+
      "<a href='#' onclick='remove_fields(this); return false;'>Видалити</a>" +

    "</p>"
    )
}

function add_field2(elem, cc) {
    lic++;
    name = $(".sel option:selected").text();
    val2 = $(".sel option:selected").val();
    $(elem).next(".vibor").append(""+
            "<p class='fields'>" + name +
            "<input id='oglad_diagnozs_attributes_"+lic+"_tohosp' name='oglad[diagnozs_attributes]["+lic+"][tohosp]' type='hidden' value='"+ val2 +"'>" +
            "<input id='oglad_diagnozs_attributes_"+lic+"__destroy' name='oglad[diagnozs_attributes]["+lic+"][_destroy]' type='hidden' value='false'>" +
            "<input id='oglad_diagnozs_attributes_"+lic+"_tofin' name='oglad[diagnozs_attributes]["+lic+"][tofin]' type='hidden' value='" + cc + "'> "+
            "<a href='#' onclick='remove_fields(this); return false;'> x</a>" +
            "</p>"
    )

}

lic2 = 0;
*/
function add_field_mkh(elem) {
    var date = new Date;
    var lic2 = date.getUTCMilliseconds()
    $(elem).parents(".pid").append("" +
            "<p class='fields'>" +
            "<input id='admin_mkh_group_mkhs_attributes_"+lic2+"_code' name='admin_mkh_group[mkhs_attributes]["+lic2+"][code]' size='30' type='text'>" +
            "<input id='admin_mkh_group_mkhs_attributes_"+lic2+"_name' name='admin_mkh_group[mkhs_attributes]["+lic2+"][name]' size='30' type='text'>" +
            "<input id='admin_mkh_group_mkhs_attributes_"+lic2+"__destroy' name='admin_mkh_group[mkhs_attributes]["+lic2+"][_destroy]' type='hidden' value='false'>" +
            "<a href='#' onclick='remove_fields(this); return false;'>Видалити</a>" +
            "</p>"
    )
}



$(document).ready(
function () {
    $(".vstavka").each(function ala(){
        str = $(this).text().length;
        $(this).css("margin-right", -str.toString()+"ex")
    });

    //$(".vstavka").css("margin-right",-str)

});