lic3 = 0;
function add_field_diamkh(elem) {
lic3++;
name = $(".sel option:selected").text();
val2 = $(".sel option:selected").val();
$(elem).parent(".pid").append("" +
"<input id='diagnoz_diamkhs_attributes_"+lic3+"_mkh_id' name='diagnoz[diamkhs_attributes]["+lic3+"][mkh_id]' size='30' type='hidden' value='"+val2+"'>" +
"<span>"+ name +"</span>" +
"<input id='diagnoz_diamkhs_attributes_"+lic3+"__destroy' name='diagnoz[diamkhs_attributes]["+lic3+"][_destroy]' type='hidden' value='false'>" +
"<a href='#' onclick='remove_fields(this); return false;'> Видалити</a>"
)
}


function refresh_diamkh(){

    var a = new Array();
    $(".table_for_diamkhs tr td").each(
            function(){
                a.push($(this).text());
            }
    );

    $(".pid").children("input:hidden").each(
      function (){
          temp = a.shift();
          id_name = $(this).attr("id").slice(0,-3);
          name = $(this).attr("name").slice(0,-4);
          cl = $(this).wrap("<p class='fields'></p>").after(
            "<span>" + temp +"</span>"+
            "<input id='"+id_name+"__destroy' name='"+name+"[_destroy]' type='hidden' value='false'>" +
            "<a href='#' onclick='remove_fields(this); return false;'> Видалити</a>"
          );
      }
    );
}

