@import "bootstrap";

body{
  width: 1000px;
  margin: auto;
  //----------INPUTS EVENT
  input, select{
    outline: none;
    border-radius: 8px;
    border: 2px solid #666666;
  }
  input:focus, select:focus{
    box-shadow: 0 0 8px rgba(82,168,236,0.6);
    border: 2px solid #56b4ef;
  }
  input:focus{
    color: red;
  }
  input[type=number]{
    width: 215px;
  }
  input[type=date]{
    width: 215px;
  }
  input[type=date]{
    width: 215px;
  }
  input[type=radio]:checked{
    outline: none;
    color: red;
  }
}
.sign_in{
  margin-left: 30%;
  .span4.offset4.well{
    label{
      width: 100px;
    }
    width: 400px;
  }
}
//------форма всередині головного поля
.center{
  margin-top: 10px;
  label{
    width: 350px;
    text-align: right;
  }
  table{
    width: 100%;
  }
  .sel{
    width: 350px;
  }
  .selcen{
    text-align: center;
  }
  .field_with_errors{
    display: inline;
    input{
      border-color: red;
    }
  }
}

.icr{
  color: red;
}

.group{
  label{
    width: auto;
  }
  table{
    width: 100%;
    caption{
      margin: 0;
      label{
        text-shadow: 0 0 5px #56b4ef;
        color: #56b4ef;
        font: italic 200% serif;
      }
    }
    td{
      vertical-align: bottom;
      width: 50%;
      label{

      }
      a{
        float: right;
      }
      .vibor{
        border: 2px solid #666666;
        border-radius: 8px;
        height: 115px;
        overflow-y: scroll;
        p{
          margin: 0;
          padding: 0 5px 0 5px;
          border-bottom: 1px dashed #56b4ef;
        }
      }
      .vibor:hover{
        box-shadow: 0 0 8px rgba(82,168,236,0.6);
        border: 2px solid #56b4ef;
      }
    }
  }

  .selectgroup{
    select{
      width: 100%;
    }
  }
}
//------navbar
.navbar-inverse{
  margin-bottom: 0;
}
//---header

//---left-menu
.left-menu{
  width: 200px;
  float: left;
  padding: 10px 10px 10px 10px;
}
//---container
.container{
  border-left: 1px solid lightgrey;
  float: left;
  padding: 10px 10px 10px 10px;
  width: 800px;
  a:hover{
    color: orangered;
  }
}
//---footer

//---alert
.alert-notice{
  color: lime;
  text-align: center;
}
.alert-error{
  color: red;
  text-align: center;
}
//-----LIST
.list-group{
  li.list-group-item:hover{
    background-color: lightgrey;
  }
  li.list-group-item{
    h4{
      margin: 0;
      .right{
        float: right;
        font-size: 8pt;
      }

    }
  }
  p.list-group-item-text{

  }
}


//-----button
//-----grid-table-головне меню жінки
table.grid-table{
  width: 100%;
  caption{
    h2{
      margin: 0;
    }
    h4{
      margin: 0;
    }
  }
  tr{
    td{
      vertical-align: top;
      width: 50%;
      padding: 10px;
      .grid-item{
        border: 1px solid lightgrey;
        border-radius: 5px 5px 5px 5px;
        h4{
          text-align: center;
          background-color: lightgrey;
          margin: 0 0 0 0;
          padding: 2px 0 2px 0;
          .right{
            float: right;

          }
        }
        p{
          margin: 0 0 0 5px;
        }
        table.list_has_many
        {
          width: 100%;
          tr{
            border-bottom: 1px dashed #000000;
          }
          td{
            width: inherit;
            padding: 2px;
            margin: 0;
          }
        }
      }
      .grid-item.table-children{
        h4{
          background-color: black;
          color: #ffffff;
        }
        h5{
          background-color: lightgrey;
          padding: 2px 10px 2px 10px;
          margin: 15px;
          .right{
            float: right;
          }
        }
      }
    }
  }
}
