%ul{:class => "nav nav-pills"}
  %li{:class => "active"}
    =link_to "create", new_woman_path

-@women.each do |t|
  -name = t.surname + t.fname + t.sname
  =t.history_id.to_s+"."
  =link_to name, woman_path(t)
  =link_to "Редагувати", edit_woman_path(t)
  %br

%ul{:class => "pager"}
  %li
    =link_to "Попереднє"
    =link_to "Наступне"
