<p class="but-right">
<ul class="nav nav-pills">
  <li class="active">
    <a href="<%= new_woman_path %>">create</a>
  </li>
</ul>
</p>

<div class="list-group">
  <%- @women.each do |t|
    name = t.history_id.to_s + ".   " + t.surname + t.fname + t.sname
  %>
    <li class="list-group-item">
      <h4>
        <a href="<%= woman_path(t) %>">
          <%= name %>
        </a>
        <div class="right">
          <a href="<%= edit_woman_path(t) %>">Редагувати П.І.Б</a>
        </div>
      </h4>

      <p class="list-group-item-text">

      </p>
    </li>

  <% end %>
</div>


