=render "layouts/tab"
=form_for :woman, url: {action: :create} do |t|
  .center.row.col-xs-2
    =t.label "Номер історії пологів"
    =t.number_field :history_id, class: "form-control"
    %br
    =t.label "Фамілія"
    =t.text_field :surname
    %br
    =t.label "Імя"
    =t.text_field :fname
    %br
    =t.label "По-батькові"
    =t.text_field :sname
    %br
    //=t.select :tel, [[''],['sdf',1],['sfs',2]]
    =t.submit "save"