=render "layouts/tab"
=form_for :og, :url => {action: :update}, method: :put do |t|
  .center
    =t.label "Зріст (см)"
    =t.number_field :zrist
    %br
    =t.label "Вага (кг)"
    =t.number_field :vaga
    %br
    =t.label "Температура"
    =t.text_field :temperature
    %br
    =t.label "Номер вагітності"
    =t.number_field :vagitnist
    %br
    =t.label "Номер пологів"
    =t.number_field :pology
    %br
    =t.label "Остання менструація"
    =t.date_field :menstryacia
    %br
    =t.label "Перше ворушіння плоду"
    =t.date_field :vorshiniaplody
    %br
    =t.label "Окружність живота(см)"
    =t.number_field :okryg
    %br
    =t.label "Висота дна матки(мм)"
    =t.number_field :vusdnamatry
    %br
    =t.submit "Update"