=render "layouts/tab"
=form_for @oglad, :url => {:action => :create}  do |t|
  .center
    =t.label "Зріст (см)"
    =t.number_field :zrist
    %br
    =t.label "Вага (кг)"
    =t.number_field :vaga
    %br
    =t.label "Температура"
    =t.text_field :temperature
    %br
    =t.label "Номер вагітності"
    =t.number_field :vagitnist
    %br
    =t.label "Номер пологів"
    =t.number_field :pology
    %br
    =t.label "Остання менструація"
    =t.date_field :menstryacia
    %br
    =t.label "Перше ворушіння плоду"
    =t.date_field :vorshiniaplody
    %br
    =t.label "Окружність живота(см)"
    =t.number_field :okryg
    %br
    =t.label "Висота дна матки(мм)"
    =t.number_field :vusdnamatry
    %br
    %br
      .group
        %table
          %caption
            %label
              Діагнози (МКХ-10)
          %tr
            %td
              =t.label "При госпіталізації"
              =link_to_function "Добавити", "add_field2(this, 1)"
              =t.fields_for :diagnozs do |d|
                .vibor
                  %p{class: "fields"}

              =t.label "Клінічний"
              =link_to_function "Добавити", "add_field2(this, 2)"
              =t.fields_for :diagnozs do |d|
                .vibor
                  %p{class: "fields"}

              =t.label "Заключний"
              =link_to_function "Добавити", "add_field2(this, 3)"
              =t.fields_for :diagnozs do |d|
                .vibor
                  %p{class: "fields"}
            %td
              =t.fields_for :diagnozs do |d|
                .selectgroup
                  =d.grouped_collection_select :toclinik, Admin::MkhGroup.all, :mkhs, :name, :id, :name, {:include_blank => false}, {class:"sel", size: "25", value: nil}
    =t.submit "Create"
