<div class="left-menu">
    <ul class="nav nav-pills nav-stacked">
      <li
      <% if current_page?(doctor_path(current_doctor)) %>
      class="active"
      <% end %>
      >
      <a href="<%= doctor_path(current_doctor) %>">Головна</a></li>

      <li
      <% if current_page?(women_path) %>
      class="active"
      <% end %>
      >
      <a href="<%= women_path%>">Історії пологів<span class="badge pull-right"><%= Woman.count %></span></a></li>

      <li><a href="#">Картки розвитку новонароджених</a></li>
      <li><a href="#">Звіти<span class="badge pull-right">42</span></a></li>
    </ul>
</div>
