
<ul class="nav nav-tabs">
  <li
  <% if current_page?(new_woman_path) %>
  class="active"
  <% end %>
  ><a href="#">Загальна інформація</a></li>

  <li><a href="#">Кров</a></li>

  <li><a href="#">Операції</a></li>

  <li><a href="#">Пологи</a></li>
</ul>