=render "layouts/tab"
=form_for :o, :url => {:action => :create} do |t|
  .center
    =t.label "Найменування операції"
    =t.text_field :oname
    %br
    =t.label "Дата і час"
    =t.datetime_select :dateandtime
    %br
    =t.label "Метод знеболювання"
    =t.text_field :methodzneb
    %br
    =t.label "Ускладнення"
    =t.text_field :problem
    %br
    =t.label "Оперував СС"
    =t.text_field :oper
    %br
    =t.submit "Create"